body{
	/*background: #747b8b;*/
	background: url(../images/hexabump.png);
	font-family: 'Asap', sans-serif;
	font-size: 30px;
	color: #ddd4d4;
}

header{
	margin-top: -50px;
}

.btn-primary{
	background-color: #849626;
	color: white;
	font-family: 'Asap', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 80px;
	border: none;
	width: 30%;
}
.reset:hover{
	background-color: #849626;
}
.btn-primary:hover {
	background-color: #3e7940;
}
.container{
	margin-top: 30px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h2, #message, #finalMessage{
	font-family: 'Asap', sans-serif;
	padding-bottom: 10px;
	font-weight: bold;
	color: #849626;
}

.thisChoice:hover{
	background-color: #849626;
	color: white;
	padding: 10px;
}

#gif{
	margin-top: -35px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}

img {
	margin-top: 50px;
}

#finalMessage, #correctAnswers, #incorrectAnswers, #unanswered {
	padding-top: 30px;
}

.reset{
	background-color: #3f3434;
	color: white;
	font-family: 'Asap', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 60px;
	border: none;
}

h3 {
	padding-bottom: 10px;
}

#crossfitTrivia {
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	margin-top: 20px;
}